.startScreen {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: rgb(17, 7, 7);
    background-image: url('./../../assets/img/board.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 960px) {
        overflow: hidden;
    }

    > img {
        height: 50vh;

        @media (max-width: 960px) {
            height: 36vh;
        }
    }
}

.startLabelBox {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 440px;
    display: flex;
    justify-content: center;

    > img {
        width: 40vw;
        height: auto;
        transition: 0.2s;

        @media (max-width: 960px) {
            width: 360px;
        }

        &:hover {
            cursor: pointer;
            filter: brightness(1.1);
            transform: scale(1.02);
        }
    }
}
