.startScreen {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: rgb(17, 7, 7);
    background-image: url('./../../assets/img/board.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
        height: 50vh;
    }
}

.startLabelBox {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 440px;
    display: flex;
    justify-content: center;
    > img {
        width: 400px;
        height: auto;
        transition: 0.2s;
        &:hover {
            cursor: pointer;
            filter: brightness(1.1);
            transform: scale(1.02);
        }
    }
}
