<div class="field">

    <div class="cardStack" [ngStyle]="{'color': 'blue'}">

        @for(count of [0, 1, 2, 3]; track count; let i = $index) {
            <img [ngStyle]="{'right.px': i * 10, 'rotate.deg': i * 10}" src="/assets/img/cards/card_cover.png" alt="">
        }
        <img (click)="takeCard()" class="cardOnTop" style="right: 25px; rotate:  40deg;" src="/assets/img/cards/card_cover.png" alt="">
        @if(takeCardAnimation) {
            <img (click)="takeCard()" class="takeCard" style="right: 25px; rotate:  40deg;" src="/assets/img/cards/ace_1.png" alt="">
        }

    </div>

</div>
