* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

html, body {
  height: 100%;
  // overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (min-width: 720px) {
  .hideDesktop {
    display: none;
  }
}

@media (max-width: 719px) {
  .hideMobile {
    display: none;
  }
}
